.header {
  display: flex;
  justify-content: center;
  padding-top: 100px;
  gap: 20px;
  background-color: #f7f5f9;
}
.content-section {
  width: 55vw;
  display: flex;
  flex-direction: column;
  gap: 30px;
  h1 {
    font-style: italic;
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    letter-spacing: 2%;
  }
  p {
    font-weight: 400;
    font-size: 15px;
    line-height: 30px;
    letter-spacing: 2%;
  }
}

.sign-join-in {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 22px;
}
.tab-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
}

.button-style {
  width: 410px;
  height: 40px;
  outline: none;
  border: 1px solid #8064a2;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
}
.img-icon {
  position: absolute;
  width: 16px;
  height: 16px;
  margin-top: 12px;
  margin-left: 20px;
}
.input-field {
  width: 410px;
  height: 40px;
  outline: none;
  border: none;
  border-radius: 8px;
  font-size: 12px;
  color: #939ca3;
  line-height: 16px;
  padding-left: 10px;
}
.pass-img {
  position: absolute;
  width: 18px;
  height: 18px;
  margin-top: 12px;
  margin-left: 380px;
}

.forgot-password {
  display: flex;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  justify-content: space-between;
  div {
    display: flex;
    justify-content: center;
    gap: 5px;
  }

  img {
    width: 14px;
    height: 16px;
  }
}

.connect-with {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;

  .line {
    background-color: #ced4da;
    width: 149px;
    height: 2px;
  }
}

.text-color {
  color: black;
}
